{% extends "auth_template.html" %}
{% block content %}
<div class="col-md-4">
    <div class="card">
        <img src="/static/assets/img/linku.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Special Flag Announcement</h5>
            <p class="card-text">Hey you found it!</p><p class="card-text"><strong>{{ flag }}</strong></p>
            <a href="#" class="btn btn-primary">Read More &raquo;</a>
        </div>
    </div>
</div>
{% endblock %}
