{% extends "template.html" %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="text-center">
            <img src="/static/assets/img/linku.png" width="200"/><br><br>
        </div>
        <div class="card">
            <div class="card-header text-center">
                <h3>Register</h3>
                <p>
                    Welcome to LinkU! This site is currently under development but please register and watch for our upcoming launch!
                </p>
            </div>
            <div class="card-body">
                <form id="regForm" action="/api/register" method="POST">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Register</button><br>
                    <div class="card-header text-center">
                        <a href="/">Login &raquo;</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}