body,html {
	background-color: #FFF !important;
	margin:0px;
	padding:0px;
}

#container {
	width:1200px;
	margin:100px auto;
	padding:20px;
	color:#000;
	background-color:#AAA;
	text-align:center;
	border:10px solid #0d75bd;
}